*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.9),rgba(4,9,30,0.1)),url(./images/bgimage.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 200px;
    height: 75px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background-color:chocolate;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box h1{
    font-size: 70px;
}

.text-box p{
    font-size: 15px;
    margin: 10px 0px 14px;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    background-color: transparent;
    padding: 12px 34px;
    font-size: 13px;
    position: relative;
    cursor: pointer;
    margin-top: 20px;
}

.hero-btn:hover{
    border: 1px solid chocolate;
    background: chocolate;
    transition: 1s;
}

nav .fa{
    display: none;
}

.skills{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1{
    font-size: 36px;
    font-weight: 600;
}

.skills p{
    color: #777 ;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding-top: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.skills-col{
    flex-basis: 31%;
    background-color: #fff3f3;
    border-radius: 10%;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

.skills h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.skills-col:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

.hobbies{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.hobbies .hobby-row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}


.hobby-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}

.hobby-col img{
    width: 100%;
    border-radius: 10px;
    width: 350px;
    height: 300px;
}

.hobby-col p{
    padding: 0;
}

.hobby-col h3{
    margin-top: 20px;
    margin-bottom: 15px;
    text-align: left;
}

.contact{
    margin: auto;
    text-align: center;
    width: 80%;
    background-image: url(./images/contact.jpeg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    padding: 100px 0;
}

.contact h1{
    color: chocolate;
    margin-bottom: 20px;
    padding: 0;
}

.contact .hero-btn{
    color: chocolate;
    border: 1px solid green;
}

.contact .hero-btn:hover{
    color: white;
    background-color: green;
}

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

/*--- about.html ---*/

.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(./images/banner\ about.jpeg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
}

.sub-header h1{
    margin-top: 100px;
}

.about-us{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.about-col{
    color: black;
    flex-basis: 48%;
    padding: 30px 2px;
}

.about-col img{
    width: 100%;
    margin-top: 80px;
    height: 70%;
}

.about-col h1{
    padding-top: 0;
    text-align: left;
}

.about-col p{
    padding: 15px 0 25px;
    text-align: left;
}

.red-btn{
    border:1px solid #f44336;
    background: transparent;
    color: #f44336;
}

.red-btn:hover{
    color: white;
}

